{% extends 'base.html.twig' %}

{% block body %}
    <div class="text-white">
        <h1>Wie zijn wij?</h1>
        <br>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. A at facere fuga id, molestiae obcaecati officia rem sapiente. Ad at dignissimos exercitationem illum itaque laboriosam perspiciatis placeat quis repellat ullam.</p>
        <div class="container">
            <div class="row justify-content-between">
                <h2 class="text-center">Onze Services</h2>
                <div class="col-4 text-center">
                    <p> Restaurant & Cafè </p>
                    <img src="../Images/cafe.jpeg" alt="Cafe" width="350" height="250">
                </div>
                <div class="col-4 text-center">
                    <p> Room Service </p>
                    <img src="../Images/cafe.jpeg" alt="Cafe" width="350" height="250">
                </div>
            </div>
        </div>
    </div>
{% endblock %}
